@model IEnumerable<MusicShop.Song>

@{
    ViewBag.Title = "TopRated3Songs";
}

<h2>Top Rated 3 Songs: </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Artist
        </th>
        <th>
            Average rating
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                @item.UserSongs.Average(us => us.Rating)
            </td>
        </tr>
    }

</table>
